<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta content="GCC workflow executor page" name="Description">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>GCC | Execute Workflow</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css"
        integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
    <!-- begin style -->
    <style media="screen">
        .brad-100 {
            border-radius: 100vh;
        }

        .logbutt:hover {
            color: white;
        }

        .inp {
            border-radius: 3px;
            border-color: #ebebeb;
        }

        .nav-link.active {
            border-color: rgba(223, 105, 26, 0.1);
        }
    </style>
    <!-- end stylre -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/user-home">GCC</a>
        <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user-machine-pool">View Machine Pool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user-workflows">View Workflows</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user-credentials">Configure External Credentials</a>
                </li>
                <li>
                    <a class="nav-link" href="/user-logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top:15px">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" style="text-align:center">
                    <h1><b>Dropbox</b></h1>
                    <h5>Please see below</h5>
                    <hr />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {% if drbx_configured %}
                                <h1><i class="icon-thumbs-up"></i></h1>
                                <p>You're all set! Your Dropbox account has been linked properly.</p>
                                <div id="reveal_drbx">
                                    <button class="btn btn-sm btn-outline-primary brad-100" style="border-radius:3px"
                                        type="button" onclick="reveal_drbx()">Reveal Dropbox credentials</button>
                                </div>
                                {% else %}
                                <p>It does not look like your Dropbox account has been linked yet. Click the button
                                    below to
                                    link your account to GCC!</p>
                                <a href="{{ drbx_oauth_link }}">
                                    <button class="btn btn-primary brad-100" style="border-radius:3px"
                                        type="button">Link
                                        Dropbox Account
                                    </button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron" style="text-align:center">
                    <h1><b>AWS</b></h1>
                    <h5>Please see below</h5>
                    <hr />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {% if aws_configured %}
                                <h1><i class="icon-thumbs-up"></i></h1>
                                <p>You're all set! Your AWS account has been linked properly.</p>
                                <div id="reveal_aws">
                                    <button class="btn btn-sm btn-outline-primary brad-100" style="border-radius:3px"
                                        type="button" onclick="reveal_aws()">Reveal AWS credentials</button>
                                </div>
                                {% else %}
                                <p>It does not look like your AWS account has been linked yet. Enter your credentials
                                    below to
                                    link your account to GCC!</p>
                                <form method="post" style="display:inline-block;margin-left:auto;margin-right:auto;">
                                    {% csrf_token %}
                                    {% load widget_tweaks %}
                                    {% for el in form %}
                                    {% if forloop.counter == 3 %}
                                    <div class="form-group" style="width:200px">
                                        {{ el|attr:'type:hidden' }}
                                    </div>
                                    {% else %}
                                    <div class="form-group" style="width:200px">
                                        {{ el|add_label_class:'col-form-label' }}
                                        {{ el|add_class:'form-control form-control-sm inp' }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <input class="btn btn-primary brad-100" style="border-radius:3px" type="submit"
                                        value="Update credentials">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function reveal_aws() {
            var newel = document.createElement("div");
            newel.innerHTML = `
        <p><small><b>Access key:</b> {{ aws_configured.access_key }}</small></p>
        <p><small><b>Secret key:</b> {{ aws_configured.secret_key }}</small></p>
    `;

            var el = document.getElementById("reveal_aws");
            el.parentNode.replaceChild(newel, el);
        }

        function reveal_drbx() {
            var newel = document.createElement("div");
            newel.innerHTML = `
        <p><small><b>Refresh token:</b> {{ drbx_configured }}</small></p>
    `;

            var el = document.getElementById("reveal_drbx");
            el.parentNode.replaceChild(newel, el);
        }
    </script>
</body>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</html>